<main class="c-login-center">
  <p>使用者登入</p>
  <div class="c-login-tab">發行公司．股務代理機構</div>
  <div class="c-login-main">
    <ul class="c-login-ul">
      <li class="c-login-item">
        <label class="c-login-label">單位代號：</label>
        <input class="c-login-input" type="text">
      </li>

      <li class="c-login-item">
        <label class="c-login-label">憑證種類：</label>
        <form class="c-login-item-margin--right">
          <select class="c-login-select">
            <option value="" disabled selected>-----請選擇-----</option>
            <option value="user1">共用憑證</option>
            <option value="user2">工商憑證</option>
          </select>
        </form>
      </li>

      <li class="c-login-item">
        <label class="c-login-label">使用者帳號：</label>
        <input class="c-login-input" type="text">
      </li>

      <li class="c-login-item">
        <label class="c-login-label">使用者密碼：</label>
        <input class="c-login-input" type="text">
      </li>

      <li>
        <button class="c-login-button" (click)="doLogin()">登入</button>
      </li>
    </ul>
  </div>
  <div>
    <button class="c-login-button">資料下載</button>
  </div>

</main>
