<footer class="c-footer">
  <div class="c-footer-left">
      <div class="c-footer-left--marginright">
          <a>聯絡我們：</a>
          <a>週一至週五</a>
          <a>08:00〜20:00　電話：(02)3789-7555</a>
          <a>08:30〜17:30　電話：(02)2514-1125、(02)2514-1242</a>
      </div>
      <div class="c-footer-left--marginright">
          <a href="mailto:tdcc@tdcc.com.tw">E-Mail：tdcc@tdcc.com.tw</a>
          <address>台北市復興北路363號11樓</address>
      </div>
  </div>

  <div class="c-footer-right">
      <a href="http://www.tdcc.com.tw/portal/zh/about/ISO" target="_blank"><img
              src="https://www.stockvote.com.tw/evote/images/zh_TW/index/iso2700.gif"></a>
      <a href="https://www.tpipas.org.tw/DPmark/ShowCertData.aspx?id=B000011(01)" target="_blank"><img
              src="https://www.stockvote.com.tw/evote/images/zh_TW/index/r_211.gif"></a>
  </div>
</footer>
